<h1>Relatives</h1>

<div class="cards">
  <% @family_members.each do |family_member| %>
    <%= link_to family_member_path(family_member.id) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://frontiersinblog.files.wordpress.com/2020/04/frontiers-psychology-free-from-dance-alternative-interaction-grandchildren-grandparents.jpg?w=1024)">
          <%= family_member.name %>
      </div>
    <% end %>
  <% end %>
</div>
