<h4 style="text-align:center; font-weight:100;">Look at these gems!</h4>
<div class="padding">
  <div class="cards">
    <% @family_members.each do |family_member| %>
      <%= link_to family_member_path(family_member.id) do %>
        <div class=" card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path family_member.image.key %>)">
          <%= family_member.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
