// Specific CSS for your home-page
$light-orange: #FAF0CA;
$light-green: #1B5954;
$off-white: #FEFEFE;

body {
 background: white;
}

.nav-elements {
  background: $light-green;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#homepage-box {
  justify-content: center;
}

#featured-relatives {
  width: 100%;
  padding: 30px 0px 30px;
}

#h2-featured-relatives {
  margin-top: 30px;
  margin-bottom: 23px;
}

.btn-primary {
  background-color: #25817B;
  border-radius: 10px;
  &:hover {
    background-color: #1B5954;
  }
}

.form-control {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0.5px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.featured-cards {
  display: grid;
  grid-gap: 18px;
  margin: 18px;
  width: 18rem;
}

// Places search bar on top of Banner
// .search-bar {
//  position: absolute;
// }

// #carouselExampleSlidesOnly {
//  position: relative;
// }

// banner
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.landing_headers {
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.search-bar {
  margin-top: 20px;
}
