<div class="card-trip">
  <div class="flex-container">
  <%= image_tag "family_booking_confirmation.jpg", alt: "alttext", class: "family-image" %>
    <div class="flex-item">
      <h1>Booking confirmation</h1>
      <h6>You have a meeting between <%=@booking.start_date%> and <%= @booking.end_date%> with <strong><%= @booking.family_member.name %></strong></h6>
      <h8>Enjoy your time!</h8>
    </div>
  </div>
</div>
