<div class="container d-flex align-items-center justify-content-center" id="homepage-box">
  <div class="form-group row">
  <form class="form-inline">
    <label for="relatives">Find </label>
    <select class="form-control" id="relatives">
      <option>Grandmas</option>
      <option>Grandpas</option>
      <option>Uncles</option>
      <option>Aunts</option>
      <option>Cousins</option>
      <option>Brothers</option>
      <option>Sisters</option>
    </select>
    <label for>near</label>
    <input type="text" class="form-control" id="city" placeholder="Berlin" required>
    <button type="submit" class="btn btn-primary">Search!</button>
  </form>
</div>
</div>

<div class="footer nav-elements">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
