<div class="container d-flex align-items-center justify-content-center" id="homepage-box">
  <div class="form-group row">
  <form class="form-inline" action="/family_members">
    <label for="relatives">Find </label>
    <select class="form-control" id="relatives">
      <option>Grandmas</option>
      <option>Grandpas</option>
      <option>Uncles</option>
      <option>Aunts</option>
      <option>Cousins</option>
      <option>Brothers</option>
      <option>Sisters</option>
    </select>
    <label for>near</label>
    <input type="text" class="form-control" id="city" placeholder="Berlin" required>
    <button type="submit" class="btn btn-primary">Search!</button>
  </form>
</div>
</div>