.navbar-lewagon {
  justify-content: space-between;
  background: #7B287D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-text {
  font-family: 'Lobster', cursive;
  color: lightgrey;
  letter-spacing: 3px;
    box-shadow: 1px;
}
