// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";

// Your CSS pages (rails does that)
@import "pages/home";
@import "pages/index";
@import "family_members/show";
@import "family_members/new";

body {
  font-family: $body-font;
}

h1, h2, h3{
  font-family: $headers-font;
}

a {
  color: black;
}

a:hover {
  color: gray;
  text-decoration: none;
}