<div class="footer nav-elements">
  <div class="footer-links">
    <a href="https://github.com/katmcglo/relatives"><i class="fab fa-github" style="color:lightgrey"></i></a>
    <a href="https://www.instagram.com/baddiewinkle/"><i class="fab fa-instagram" style="color:lightgrey"></i></a>
    <a href="#"><i class="fab fa-facebook" style="color:lightgrey"></i></a>
    <a href="#"><i class="fab fa-twitter" style="color:lightgrey"></i></a>
    <a href="#"><i class="fab fa-linkedin" style="color:lightgrey"></i></a>
  </div>
</div>
