<div class="_s1o1c4" data-panel-bounds="true">
  <div class="_1r2q9q3"><div class="_2gf2wq">
    <div><div class="_qiizeo">
      <label class="_1c8hz5t" for="bigsearch-query-attached-query">
        <div class="_9bj9d5">Location</div>
        <input class="_1spzot3" aria-autocomplete="list" aria-expanded="false" autocomplete="off" autocorrect="off" spellcheck="false" id="bigsearch-query-attached-query" role="combobox" value="" name="query" placeholder="Where are you going?">
      </label>
      <span id="Koan-query__description" class="_krjbj">Navigate forward to access suggested results</span>
      <span aria-atomic="true" aria-live="polite" role="status" class="_krjbj">

      </span>
    </div>
  </div>
</div>
<div class="_1pgkncf">

</div>
<div class="_2gf2wq">
  <div class="_qiizeo">
    <button class="_esmga25" aria-expanded="false" type="button">
      <div class="_9bj9d5">Check in / Check out</div>
      <div class="_jro6t0">
        <div class="_4poulv">Add dates</div>
      </div></button></div></div><div class="_1pgkncf">

      </div>
      <div class="_2gf2wq">
        <div class="_qiizeo">
          <button class="_esmga25" aria-expanded="false" type="button">
            <div class="_9bj9d5">Guests</div><div class="_jro6t0"><div class="_4poulv">Add guests</div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="_h6px0p">
    <button type="submit" class="_jpp2dbp">
      <span class="_163rr5i">
        <span class="_m9v25n" style="background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%); --mouse-x:18.6406; --mouse-y:89.1304;">

        </span>
      </span>
      <span class="_tcp689">
        <span class="_14d5b3i">
          <span class="_1d2qgpf">
            <svg style="display:block;fill:none;height:12px;width:12px;stroke:currentColor;stroke-width:5.333333333333333;overflow:visible" aria-hidden="true" role="presentation" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <g fill="none">
                <path d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9">

                </path>
              </g>
            </svg>
          </span>
          <span class="_3hmsj">Search</span>
        </span>
      </span>
    </button>
  </div>
</div>










